@page "/CharacterCreationTest"

@using DungeonMaster.Data
@using Microsoft.AspNetCore.Components
@using System.IO;
@using System.Text.Json;
<h3>Character Creation Test</h3>
<hr />
<br />

<p>Current Name: @displayName</p>

<div id="CharacterCreator">
    <label for="characterName">Name: </label>
    <input placeholder="enter character name" @bind="characterName" />
    <label for="Character Class">Class: </label>
    <select name="class" @bind="characterClass">
        <option value="ranger">Ranger</option>
        <option value="fighter">Fighter</option>
        <option value="wizard">Wizard</option>
    </select>
    <br />
    <select name="Stat" @bind="currentStatString">
        <option value="default">[select stat]</option>

        @foreach (string s in StatNames)
        {
            <option value="@s">@s</option>
        }


    </select>

    <select name="StatNum" @bind="currentStatValue">
        <option value="default">[select number]</option>
        @foreach (int num in StatNumbers)
        {
            <option value="@num">@num</option>
        }
    </select>
    <button class="btn btn-primary" @onclick="SaveStat">Save Current Stat Point</button>
    <br />
    <br />
    <div>
        Strength: @statsForCharacter.Strength<br />
        Dexterity: @statsForCharacter.Dexterity<br />
        Constitution: @statsForCharacter.Constitution<br />
        Intelligence: @statsForCharacter.Intelligence<br />
        Wisdom: @statsForCharacter.Wisdom<br />
        Charisma: @statsForCharacter.Charisma<br />
    </div>
    <button class="btn btn-primary" @onclick="CreateCharacter">Create and Save Character</button>
    <p>@errorMessage</p>
</div>

@code {
    /// <summary>
    /// Name of the character bring created
    /// </summary>
    private string characterName = string.Empty;

    /// <summary>
    /// Contains error message if error has occurred.
    /// </summary>
    private string errorMessage = string.Empty;
    //used to display the name while clearing the textbox
    private string displayName = string.Empty;

    /// <summary>
    /// Character's class 
    /// </summary>
    private string characterClass = string.Empty;

    /// <summary>
    /// the current value that the user selected
    /// </summary>
    private int currentStatValue = 0;

    /// <summary>
    /// the current string value of the stat the user selected
    /// </summary>
    private string currentStatString = string.Empty;

    /* Stats for the character*/
    private CharacterStats statsForCharacter = new CharacterStats();

    /// <summary>
    /// List of the available numbers for the stats
    /// </summary>
    private List<int> StatNumbers = new List<int>() { 15, 14, 13, 12, 10, 8 };

    /// <summary>
    /// List of the names of the stats
    /// </summary>
    private List<string> StatNames = new List<string>() { "strength", "dexterity", "constitution", "intelligence", "wisdom", "charisma" };

    /// <summary>
    /// Creates a character with the provided information from form and saves it to JSON file.
    ///
    /// Created by: Brett Hamilton
    /// Created on: 6/9/2021
    /// Edited by Jacob R. Frazier on 06/18/2021
    /// Added the ability to add more than one character.
    /// </summary>
    public void CreateCharacter()
    {

        // Create new character and serialize it as a JSON string and trim white space
        characterName = characterName.Trim();

        Character newCharacter = new Character(characterName, 50, 1);
        newCharacter.CharacterStats = statsForCharacter;
        string jsonString = JsonSerializer.Serialize(newCharacter);
        displayName = characterName;
        //clears TextBox
        characterName = string.Empty;
        // Write the JSON string to a file for storage
        string fileName = "characters.json";
        string path = "Saves/" + fileName;



        try
        {

            //Appends a new character to the file without deleting previous ones and puts them on new lines for better readability.
            File.AppendAllText(path, jsonString + Environment.NewLine);



        }
        catch (IOException e)
        {
            errorMessage = "Error: " + e.Message;
        }
    }

    /// <summary>
    /// Save the stats number entered in by the player to the appropriate attribute
    /// </summary>
    public void SaveStat()
    {
        //checks if the default value in the drop list was selected by accident
        //will not add, refresh, or remove any variables if true
        bool isDefault = false;

        switch(currentStatString)
        {
            case "strength":
                statsForCharacter.Strength = currentStatValue;
                break;
            case "dexterity":
                statsForCharacter.Dexterity = currentStatValue;
                break;
            case "constitution":
                statsForCharacter.Constitution = currentStatValue;
                break;
            case "intelligence":
                statsForCharacter.Intelligence = currentStatValue;
                break;
            case "wisdom":
                statsForCharacter.Wisdom = currentStatValue;
                break;
            case "charisma":
                statsForCharacter.Charisma = currentStatValue;
                break;
            case "default":
                isDefault = true;
                break;
        }

        //
        if(!isDefault)
        {
            //remove and refresh variables
            StatNumbers.Remove(currentStatValue);
            StatNames.Remove(currentStatString);
            currentStatValue = 0;
            currentStatString = string.Empty;
        }


    }
}
